
@font-face {
    font-family: Montserrat-Black;
    src: url('../fonts/Montserrat-Black-1.ttf');
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --bg: #020312;
    --bgs: rgb(80, 80, 255);
    --hd: rgb(0, 0, 30);
    --text: white;
    --main: #eb4a4a;
    --a: rgb(0, 0, 80);
    --b: #12141c;
}

body {
    background-color: var(--bgs);
}

/* ================ Header Section ================ */

.header {
    background-color: var(--hd);
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1020;
    transition: all 0.4s ease;
}

.logo a {
    color: var(--text);
    font-family: Montserrat-Black;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.6rem;
}

.door {
    border: 1px solid var(--main);
    border-radius: 0.4rem;
    color: var(--main);
    cursor: pointer;
    font-size: 1.6rem;
    display: none;
}

.door:hover {
    background-color: var(--main);
    color: var(--text);
}

.fa-bars {
    padding: 0.2rem 0.35rem;
}

.fa-multiply {
    padding: 0.2rem 0.55rem;
}

.navi {
    display: flex;
    gap: 0.5rem;
}

.navi a {
    border: 1px solid transparent;
    border-radius: 0.75rem;
    color: var(--main);
    padding: 0.5rem 1rem;
    transition: all 0.4s ease;
}

.navi a:hover {
    background-color: var(--main);
    color: var(--text);
}

/* ================ Container Section ================ */

.container {
    margin: auto;
    height: 900px;
    position: relative;
    top: 4rem;
    width: 80%;
}

/* ================ Home Section ================ */

.home {
    padding-bottom: 4rem;
}

.home h1 {
    color: white;
    font-family: Montserrat-Black;
    font-size: 4rem;
    padding: 4rem;
    text-align: center;
}

.homeCaps {
    display: grid;
    grid-template-columns: 40% 60%;
}

.me p {
    margin-bottom: 1rem;
}

.me h2 {
    margin-bottom: 1rem;
}

.home img {
    border-radius: 50%;
    height: 40rem;
    width: 100%;
}

/* ================ About Section ================ */

.about {
    padding: 4rem 0;
    text-align: center;
}

.about h1 {
    font-size: 3rem;
}

.aboutDet {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 4rem 0;
}

.aboutDet img {
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
}

.acol2 h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.acol2 p {
    font-size: 1.5rem;
    line-height: 2.6rem;
    margin-left: 6rem;
    text-align: justify;
}

/* ================ Services Section ================ */

.service {
    padding: 4rem 0;
    text-align: center;
}

.service h1 {
    font-size: 3rem;
}

.serv {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4rem 0;
}

.sco1 img {
    border-radius: 50%;
    height: 28.25rem;
    width: 28.25rem;
}

.scol2 h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.list {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    cursor: pointer;
}

.list p {
    font-size: 1.5rem;
    line-height: 2.6rem;
}

.bor {
    color: var(--main);
}

.bor:hover {
    background-color: var(--main);
    color: var(--text);
}

/* ================ Contact Section ================ */

.contact {
    text-align: center;
    margin-top: 4rem;
}

.contact h1 {
    padding: 4rem;
}

.contact img {
    border-radius: 2rem;
    height: 24rem;
    width: 48rem;
}

.whats {
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.chat {
    color: white;
    cursor: pointer;
    display: block;
}

.fab {
    font-size: 4rem;
}

.num {
    font-size: 2rem;
}

/* ================ Media Screens ================ */

@media (max-width: 880px) {
    .header {
        padding: 0 6%;
    }

    .container {
        width: 88%;
    }
    
    .door {
        display: inline-block;
    }

    .navi {
        position: fixed;
        top: 4rem;
        right: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--b);
        padding: 0 6%;
        text-align: left;
        transition: all 0.4s ease;
        display: none;
    }

    .navi.open {
        display: flex;
    }

    .navi a {
        display: block;
        margin: 0.3rem 0;
        padding: 0.8rem 1rem;
        width: 12rem;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 0 3%;
    }
    
    .container {
        width: 94%;
    }

    .navi {
        padding: 0 3%;
    }

    .home h1 {
        font-size: 3rem;
        padding: 4rem 1rem;
    }
}